{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">N.º {{ '%04d' | format(pokenea.id) }}</h6>
                    <h5 class="card-title">{{ pokenea.nombre }}</h5>
                    <p class="card-text badge badge-success">{{ pokenea.habilidad }}</p>
                    <p class="card-text">{{ pokenea.altura }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
